@font-face {
    font-family: 'ProximaNova';
    src: url("https://neobenjax.github.io/mailing/fonts/ProximaNova-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url("https://neobenjax.github.io/mailing/fonts/ProximaNova-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url("https://neobenjax.github.io/mailing/fonts/ProximaNova-Semibold.otf") format("opentype");
}

@font-face {
    font-family: 'ProximaNova-Light';
    src: url("https://neobenjax.github.io/mailing/fonts/ProximaNova-Light.otf") format("opentype");
}


#outlook a{padding:0;} /* Force Outlook to provide a "view in browser" button. */
body{width:100% !important;} .ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */
body{-webkit-text-size-adjust:none;} /* Prevent Webkit platforms from changing default text sizes. */

/* Reset Styles */
body{margin:0; padding:0;}
img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
a img{border:0 none;}
table td{border-collapse:collapse;}
#backgroundTable{height:100% !important; margin:0; padding:0; width:100% !important;max-width: 900px!important;}
.red{
  color:#9f011f!important;
}


/*BRANDING MAIL*/
body, #backgroundTable{
  background-color: #f3f3f4;
  font-family: 'ProximaNova',sans-serif;
  color: #252525;
  font-size: 16px;
}
#templateContainer{
  border: 1px solid #DDDDDD;
}

h1, .h1{
  /*@editable*/ color:#202020;
  display:block;
  font-family: 'ProximaNova-Bold',sans-serif;
  /*@editable*/ font-size:34px;
  /*@editable*/ font-weight:bold;
  /*@editable*/ line-height:100%;
  margin-top:0;
  margin-right:0;
  margin-bottom:10px;
  margin-left:0;
  /*@editable*/ text-align:center;
}

h2, .h2{
  /*@editable*/ color:#202020;
  display:block;
  font-family: 'ProximaNova-Bold',sans-serif;
  /*@editable*/ font-size:30px;
  /*@editable*/ font-weight:bold;
  /*@editable*/ line-height:100%;
  margin-top:0;
  margin-right:0;
  margin-bottom:10px;
  margin-left:0;
  /*@editable*/ text-align:center;
}

h3, .h3{
  color: #252525;
  display:block;
  font-family: 'ProximaNova-Bold',sans-serif;
  font-size: 22px;
  /*@editable*/ font-weight:bold;
  /*@editable*/ line-height:100%;
  margin-top:0;
  margin-right:0;
  margin-bottom:10px;
  margin-left:0;
  /*@editable*/ text-align:center;
}

h4, .h4{
  color: #06234a;
  display:block;
  font-family: 'ProximaNova-Bold',sans-serif;
  font-size: 20px;
  /*@editable*/ font-weight:bold;
  /*@editable*/ line-height:100%;
  margin-top:0;
  margin-right:0;
  margin-bottom:10px;
  margin-left:0;
  /*@editable*/ text-align:center;
}

#preheaderImage,.preheaderImage{
  height:auto;
  max-width:127px !important;
}

.preheaderContent div{
  /*@editable*/ color:#505050;
  color: #252525;
  font-size: 16px;
  /*@editable*/ line-height:100%;
  /*@editable*/ text-align:center;
}

.preheaderContent div a:link, .preheaderContent div a:visited, /* Yahoo! Mail Override */ .preheaderContent div a .yshortcuts /* Yahoo! Mail Override */{
  /*@editable*/ color:#9f011f;
  /*@editable*/ font-weight:normal;
  /*@editable*/ text-decoration:none;
}

#templateHeader{
  /*@editable*/ background-color:#FFFFFF;
  /*@editable*/ border-bottom:0;
}

.headerContent{
  color: #252525;
  /*@editable*/ font-size:34px;
  /*@editable*/ font-weight:bold;
  /*@editable*/ line-height:100%;
  /*@editable*/ padding:0;
  /*@editable*/ text-align:center;
  /*@editable*/ vertical-align:middle;
}

.headerContent a:link, .headerContent a:visited, /* Yahoo! Mail Override */ .headerContent a .yshortcuts /* Yahoo! Mail Override */{
  /*@editable*/ color:#9f011f;
  /*@editable*/ font-weight:normal;
  /*@editable*/ text-decoration:none;
}

#headerImage{
  height:auto;
  max-width:450px !important;
}

/**
* @tab Body
* @section body style
* @tip Set the background color for your email's body area.
*/
#templateContainer, .bodyContent{
  /*@editable*/
  background-color:#FFFFFF;
}

/**
* @tab Body
* @section body text
* @tip Set the styling for your email's main content text. Choose a size and color that is easy to read.
* @theme main
*/
.bodyContent div{
  /*@editable*/ color:#505050;
  color: #252525;
  font-size: 16px;
  /*@editable*/ line-height:150%;
  /*@editable*/ text-align:center;
}

/**
* @tab Body
* @section body link
* @tip Set the styling for your email's main content links. Choose a color that helps them stand out from your text.
*/
.bodyContent div a:link, .bodyContent div a:visited, /* Yahoo! Mail Override */ .bodyContent div a .yshortcuts /* Yahoo! Mail Override */{
  /*@editable*/ color:#fff;
  /*@editable*/ font-weight:bold;
  /*@editable*/ text-decoration:none;
}

.bodyContent img{
  display:inline;
  height:auto;
  height: auto;
}

.subBodyContent div{
  text-align: center;
  font-size: 18px;
  line-height: 1.33;
}
#contenidoBody1 {
    max-width: 350px;
}

.claveUsuario{
  padding: 0;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.claveUsuario #contenidoReecuperar {
    max-width: 708px;
}

.claveUsuario #contenidoReecuperar .datos-registro div {padding-left: 20px;}

.claveUsuario #contenidoReecuperar .datos-registro div p.datos-reecupera {
    margin-top: 0;
    margin-bottom: 10px;
}

.claveUsuario #contenidoReecuperar .datos-registro div p.datos-reecupera strong {
    color: #06234a;
}

.claveUsuario div {
    text-align: left;
    margin-bottom: 0px;
}
#contenidoRegistro,.contenidoRegistro{
  max-width: 383px;
  border-radius: 8px;
  border: solid 1px #06234a;
}

#contenidoRegistro div,.contenidoRegistro div{
    padding: 10px 20px;
}
p.clave-de-usuario{
  text-align: left;
  font-size: 18px;
  margin: 0;
}

p.clave-de-usuario strong {
    color: #06234a;
}
.sms-texto{

font-size: 16px;

line-height: 1.5;

padding-top: 40px;
}

.sms-texto p {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
}
#scanImage,.scanImage{
  height:auto;
  max-width:265px !important;
  margin-bottom: 30px;
}
#btn_comienza{
  height:auto;
  max-width:185px !important;
}
.btn{
  background-color: #670518;
  border: 1px solid #000;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-family: 'ProximaNova-Light',sans-serif;
  font-size: 18px;
  font-weight: bold;
  height: 45px;
  line-height: 45px;
  min-width: 185px;
  outline: 0px;
  padding: 0 12px;
  text-align: center;
  text-decoration: none;
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
}


#bodySombreado, .bodySombreado{
  max-width: 745px;
}
#bodySombreado .crea, .bodySombreado .crea{
  font-size: 18px;
  margin-bottom: 15px;
}
#bodySombreado .recuerda, .bodySombreado .recuerda{
  font-size: 20px;
  margin: 10px 0;
}
.bg-gris{
  background-color: #f9f9f9;
}
strong{
  font-family: 'ProximaNova-Bold',sans-serif;
  font-weight: bold;
}

#logosTiendas{
  padding: 0;
}
#logosTiendas table{
  max-width: 400px;

}
#logosTiendas table td.logo{
  text-align: center;
}
.firma-contratos p{
  margin-top:0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5px;
}

#bienvenidaReestablecer{
  max-width: 760px;
}

#bienvenidaReestablecer div h4, #bienvenidaReestablecer div .h4 {
    text-align: left;
    color: #06234a;
}

td.datos-documento {
    padding: 0;
}

#primerFirmante div {
    text-align: left;
}

#primerFirmante div h4,#primerFirmante div .h4 {
    text-align: left;
    margin: 30px 0 0;
}

#primerFirmante {
    max-width: 740px;
}

#primerFirmante td {
    padding: 0;
}
#primerFirmante td.spaceMobile,
td.spaceMobile {
    padding-left: 20px;
    padding-right: 20px;
}

#primerFirmante td.firmantes-orden {
    max-width: 320px;
}
.datos-documento div{
    padding-top:20px;
}
.datos-documento div p {
    margin: 0;
}
/**
* @tab Footer
* @section footer style
* @tip Set the background color and top border for your email's footer area.
* @theme footer
*/
#templateFooter{
    background-color: #FFFFFF;
    border-top: 1px;
    border-color: #e3e3e3;
    border-style: solid;
    max-width: 750px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

/**
* @tab Footer
* @section footer text
* @tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
* @theme footer
*/
.footerContent div{
  /*@editable*/ color:#707070;
  color: #252525;
  font-size: 16px;
  /*@editable*/ line-height:125%;
  /*@editable*/ text-align:center;
}

/**
* @tab Footer
* @section footer link
* @tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
*/
.footerContent div a:link, .footerContent div a:visited, /* Yahoo! Mail Override */ .footerContent div a .yshortcuts /* Yahoo! Mail Override */{
  /*@editable*/
  color:#9f011f;
  /*@editable*/
  font-weight:normal;
  /*@editable*/
  text-decoration: none;
}

.footerContent img{
  display:inline;
}

#contenidoDisclaimers{
  max-width: 580px;
}

.disclaimer_cuenta div{
  color: #252525;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
}
.disclaimer_dudas div{
  color: #252525;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.5;
}
.disclaimer_codigos div{

font-size: 14px;

margin-bottom: 20px;

line-height: 18px;
}

.disclaimer_informacion div p{
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 5px;
}
.disclaimer_informacion div{
  margin-bottom:20px;
  font-size: 14px;
  line-height: 1.29;
}


#contenidoPrimerFirma {
    max-width: 656px;
    border-radius: 8px;
    border: solid 1px #06234a;
    margin-bottom: 30px;
    margin-top: 30px;
}

#contenidoPrimerFirma div {
    text-align: center;
}

#contenidoSiguienteFirma {
    max-width: 656px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#contenidoSiguienteFirma div {
    text-align: center;
}

p.primer-firmante-tit {
    margin: 20px 0 20px;
    font-size: 20px;
    color: #06234a;
}

#firmantes {
    max-width: 460px;
    margin-top: 30px;
    margin-bottom: 20px;
}

#contenidoSiguienteFirma #firmantes {
    margin-top: 10px;
}

#firmantes div {
    text-align: left;
}

td.firmantes-orden p.firmantes-head {
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
}

td.firmantes-orden p.firmante {
    margin-bottom: 5px;
    margin-top: 0;
}

p.leyenda-after-firmas {
    margin: 0 20px 20px;
    font-size: 14px;
}

#pieFirmantes {
    max-width: 675px;
    margin-bottom: 20px;
}

#pieFirmantes div {
    text-align: center;
}

#pieUbicacionFirmantes {
    margin-bottom: 20px;
    max-width: 740px;
}

table#pieUbicacionFirmantes.multiples-firmantes {
    margin-top: 30px;
    margin-bottom: 20px;
}

#pieUbicacionFirmantes div {
    text-align: left;
}


#primerFirmante td.recomendamos {
    padding-top: 30px;
    padding-bottom: 10px;
}

#noApp {
    margin-top: 30px;
    max-width: 285px;
    margin-bottom: 30px;
}

#noApp div {
    text-align: center;
}

p.leyenda-final-proceso {
    margin: 20px auto 30px;
    text-align: left;
    max-width: 707px;
    font-size: 16px;
    line-height: 1.63;
}

#pieUbicacionFirmantes p.leyenda-final-proceso {
    max-width: 100%;
}


#appsSiguientes {
    margin-top: 20px;
    max-width: 400px;
    margin-bottom: 30px;
}

#appsSiguientes div {
    text-align: center;
}

#appsSiguientes #logosTiendas {
    padding-top: 30px;
}

#appsSiguientes td#logosTiendas table {
    padding-top: 30px;
    border-top: 1px solid #d0d8de;
}

p.si-ya-cuentas {
    margin-bottom: 20px;
    margin-top: 10px;
}
.espacioTuFirma{
}
#appFirmaTuTurno {margin-top: 20px;margin-bottom: 20px;}

#appFirmaTuTurno div {
    text-align: center;
}


#appFirmaTuTurno table#pieFirmantes {
    margin-top: 30px;
}

p.descarga-la-aplicacion {
    text-align: center;
    margin-top: 30px;
}

#tiendasTurno {
    margin-top: 10px;
    margin-bottom: 20px;
}


td.firma_ubicacion {
    padding-top: 10px;
    padding-bottom: 10px;
}

.contenidoUbicacion {
    max-width: 536px;
    border-radius: 8px;
    border: solid 1px #06234a;
    margin-top: 30px;
    margin-bottom: 20px;
}

.contenidoUbicacion.multiples {
    margin-top: 0px;
    margin-bottom: 0px;
}

.contenidoUbicacion td {
    padding: 10px!important;
}

.contenidoUbicacion td.mapa {
    text-align: center;
}

p.data-ubicacion {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
}

p.tu-turno-final {
    text-align: center;
    font-size: 20px;
    margin: 0;
    margin-bottom: 50px;
}

p.tu-turno-final strong {
    color: #06234a;
}

table.descrip_fad_firmantes div p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.63;
}

table.descrip_fad_firmantes div p.prev-firmas {
    margin-top: 30px;
    margin-bottom: 10px;
}

.descrip_fad_firmantes {
    margin-top: 20px;
}


.datos-documento-finalizado {
    max-width: 536px;
    border-radius: 8px;
    border: solid 1px #06234a;
    margin-top: 30px;
    margin-bottom: 20px;
}

p.documento-firmado {
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
}

.datos-documento-finalizado td.datos-doc {
    padding: 10px 10px 20px!important;
}

.datos-documento-finalizado td.datos-doc p {
    margin: 5px 0 10px;
}

.datos-documento-finalizado td.datos-doc._imagen {
    text-align: center;
    width: 150px;
}

table.documentos-adjuntos {
    max-width: 550px;
}

td.adjunto-ico {
    width: 100px;
    text-align: center;
    padding: 30px 10px 30px;
}

td.adjunto-info {
    padding: 30px 10px 30px;
}

td.adjunto-info p {
    margin: 0px 0 10px;
}

td.adjunto-info p.identado {
    margin-left: 20px;
}

span.blue {
    color: #06234a;
}

p.importante {
    font-size: 14px;
    margin: 0 0 10px;
}
@media screen and (max-width: 600px) {
  h1, .h1{font-size:28px;}
  h2, .h2{font-size:26px;}
  h3, .h3{font-size: 20px;}
  h4, .h4{font-size: 18px;}

  #preheaderImage,.preheaderImage{
    max-width:80px !important;
  }
  .disclaimer_cuenta div,
  .disclaimer_dudas div {
    font-size: 14px;
    line-height: 1.5;
  }

  .disclaimer_codigos div,
  .disclaimer_informacion div{
    font-size: 12px;
  }
  .subBodyContent div {font-size: 15px;}
  #bodySombreado .crea,.bodySombreado .crea {font-size: 16px;margin-bottom: 10px;}
  #scanImage, .scanImage{max-width:200px!important;margin-bottom: 20px;}
  #bodySombreado .recuerda, .bodySombreado .recuerda {
      font-size: 18px;
  }
  p.clave-de-usuario{font-size: 16px;text-align: center;}
  p.clave-de-usuario strong {display:block;}
  td.inRowMobile{display:block!important;width:100%!important;}
  #contenidoRegistro div, .contenidoRegistro div{
    text-align:center;
    padding-bottom: 5px;
    padding-top: 10px;
  }
  .claveUsuario div{
    text-align:center;
  }
  .sms-texto {font-size: 14px;padding-top: 20px;}
  .sms-texto p{font-size:14px;}
  #firmantes div {text-align: center;}
  #primerFirmante td.firmantes-orden {
      max-width: 100%;
  }


}
